<!DOCTYPE html>
<html lang="en">
        <head>  
		{% block head %}
		<link rel="icon" href="{{ url_for('static', filename='icons8-alpha-16.png')}}">
                <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title> Recommendation System </title>
                <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        	{% endblock %}
	</head>
	<body>
		{% block content %}
		{% endblock %}
		<footer>
                        <small>&copy; 2019 <a href="https://github.com/JiangYunchao">copyright</a></small>
                </footer>
	</body>
</html>
