{% extends 'base.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
	<div class="alert">{{ message }}</div>
{% endfor %}
<div class="choose">
	<form method="post">
		<input type="checkbox" name="img" value="1">
		<button type="button">
			<img src="{{ url_for('static', filename='1.jpg') }}" width="200" height="400">
		</button>
		<input type="checkbox" name="img" value="2">
		<button type="button">
			<img src="{{ url_for('static', filename='2.jpg') }}" width="200" height="400">
		</button>
		<input type="checkbox" name="img" value="3">
		<button type="button">
			<img src="{{ url_for('static', filename='3.jpg') }}" width="200" height="400">
		</button>
		<br/>
		<br/>
		<br/>
		<p>
		<input style="font-size:25px;font-family:verdana" type="submit" name="submit_button" value="Confirm">
		&emsp;&emsp;&emsp;
		<input style="font-size:25px;font-family:verdana" type="submit" name="submit_button" value="New">
		</p>
	</form>

<script type="text/javascript">
var isDefualtAdd = 0; //0不选中，1选中

$('input:radio').click(function(){
	var $radio = $(this);
	if ($radio.data('waschecked') == true){
		$radio.prop('checked', false); $radio.data('waschecked', false);
		isDefualtAdd = 0;
	} else {
		$radio.prop('checked', true); $radio.data('waschecked', true);
		isDefualtAdd = 1;
	}
});
</script>


</div>

{% endblock %}
