{% extends 'base.html' %}

{% block content %}


<h1 style="position:absolute;top:250px;left:50%;transform:translateX(-50%);"> Choose a category to do item recommendation</h1>
<div class="itemrec">
    <form method="post">
        <input style="font-size:25px;font-family:verdana;width:100px;" type="submit" name="category" value="top" />
        <br/>
        <br/>
        <br/>
        <br/>
        <input style="font-size:25px;font-family:verdana;width:100px;" type="submit" name="category" value="bottom" />
        <br/>
        <br/>
        <br/>
        <br/>
        <input style="font-size:25px;font-family:verdana;width:100px;" type="submit" name="category" value="shoe" />
    </form>
</div>
<!--{% for id in id_list %}-->
<!--<h2 style="position:absolute;bottom:250px;text-align:center;">Result:{{ id }}</h2>-->
<!--{% endfor %}-->


{% endblock %}