{% extends 'base.html' %}
<head>
</head>
{% block content %}
{% for message in get_flashed_messages() %}
	<div class="alert">{{ message }}</div>
{% endfor %}
<div class="main">

	<form method="post">
		{% for oft in oft_list %}
			<div class="outfit" >
				<p style="margin:5px; text-align:left;"><input type="radio" name="img" value={{ oft.id }} /></p>

				<div><img src="{{ oft.top }}" alt="{{ oft.top }}" /></div>
				<div><img src="{{ oft.bottom }}" alt="bottom" /></div>
				<div><img src="{{ oft.shoe }}" alt="shoe" /></div>

				<!--<div><img src="{{ imgName }}" /></div>-->
			</div>

		{% endfor %}
		<p class="btn">
			<!--<input style="font-size:25px;font-family:verdana" id="btnOperate" type="button"  value="Confirm" onclick="static_num()" />-->
			<input  style="font-size:25px;font-family:verdana" type="submit" name="submit_button" value="Confirm">
			&emsp;&emsp;&emsp;
			<input style="font-size:25px;font-family:verdana" type="submit" name="submit_button" value="New" />
		</p>
	</form>
</div>
{% endblock %}